<footer class="bg-dark text-white pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="#" class="text-white me-2"><i class="fab fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <hr class="bg-light">
      <p class="text-center mb-0">© 2025 Library Management System. All rights reserved.</p>
    </div>
  </footer>
  