<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2 class="display-4">About us</h2>
                <p class="lead">We are working since from last 20 years..</p>
                <hr class="my-4">
                <p>We are proud to be the cornerstone of knowledge and learning in our community for over 20 years. The Central Library System is dedicated to providing free and open access to information, fostering lifelong learning, and supporting academic and personal growth for all.Our network of libraries offers a vast collection of books, digital resources, research materials, and community programs. Whether you're a student, researcher, or casual reader, our facilities are designed to meet your needs with modern infrastructure, expert staff, and a welcoming environment.
                We believe in the power of information to transform lives and are committed to innovation, inclusivity, and excellence in service.</p>
              </div>
        </div>
    </div>
</div>